@using yc_interview.Models.ViewModel
@model List<CustomerViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">
        <div class="col-xs-12">
            <a href="@Url.Action("Create")">新增</a>
        </div>
    </div>
    <table>
        <tr>
            <th>ID</th><th>公司名稱</th><th>聯絡人</th><th>電話</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CustomerId</td>
                <td>@item.CompanyName</td>
                <td>@item.ContactName</td>
                <td>@item.Phone</td>
                <td><a href="@Url.Action("Edit" , new { ID = item.CustomerId})">修改</a></td>
                <td><a href="@Url.Action("DeleteData" , new { ID = item.CustomerId})" onclick="return confirm('確定?')">刪除</a></td>
            </tr>
        }
    </table>
</div>

